 @import '../../../styles/variables.scss';

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;


    
    section{    
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
    }

    .main-section{
        gap: 8px;
        flex-grow: 1;
        background-color: $grey-bg;

        img{
            width: 50%;
        }

        h2{
            font-size: 30px;
            margin-bottom: 20px;
        }
    }

    .form-section{
        flex-grow: 0.6;
        padding: 0px 35px;

        h1{
            margin-bottom: 15px;
        }
    }

    h3{
        font-size: 30px;
        margin-bottom: 30px;
        font-weight: bold;
    }

    
    .Bgap{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        margin-top: 30px;


        button{
        width: 100%;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 500;
        border: none;
        background-color: transparent;
        padding: 12px 24px;
        box-shadow:0px 8px 12px rgba(70, 39, 184, 0.2);
        cursor: pointer;

        // indica que é o botao 1 por estar dentro da classe button no css     
        &.firstB{
        background-color: $primary-color;
        color: white;

        }



        // indica que é o botao 2 por estar dentro da classe button no css  
        &.secondB{
            border: 1px solid $primary-color;
            color: $primary-color;
        }
        }

        .divisor{
            font-size: 14px;
            color: #a8a8a8;
            font-weight: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            text-transform: uppercase;
            width: 100%;
        
            div{
                width: 100%;
                height: 2px;
                background-color: #dbdbdb;
                flex-grow: 1;

            }
        }

        
        }
    }