 @import '../../../styles/variables.scss';


    form{

    width: 100%;
    flex-direction: column;
    display: flex;
    margin-bottom: 24px;

    span{
        font-size: 14px;
        text-decoration: underline;
        color: $secundary-color;
        text-align: end;
        cursor: pointer;
    }
}