 @import '../../../styles/variables.scss';

 .divisorForm{
    color:$text-color;
    font-size: 16px;
    text-align: start;


    input{
    border-radius: 8px;
    background-color: $placeholder-bg;
    border: none;
    padding: 12px 0px 12px 30px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    }

 }
